<ng-container *ngIf="pair$ | async as pair; else spinTpl">
  <img
    style="max-width: 100%; max-height: 100%"
    [src]="getUrl(pair.pictureId)"
  />
  <div>Имя: {{ pair.name }}</div>
  <div>Возраст: {{ pair.age }}</div>
  <div>Пол: {{ pair.genderName }}</div>
  <div>Описание {{ pair.description }}</div>
  <div
    style="
      display: inline-flex;
      gap: 1em;
      width: 100%;
      justify-content: space-around;
    "
  >
    <button nz-button nzType="default" (click)="dislike()">X</button>
    <button nz-button nzType="primary" (click)="like()"><3</button>
  </div>
</ng-container>
<ng-template #spinTpl>
  <nz-spin [nzSpinning]="loading$ | async">
    <div>Новые пары отсутствуют :(</div>
  </nz-spin>
</ng-template>
